:root{
    --primaria: #00d084;;
    --primaria-claro: #7bdcb5;;
    --primaria-medio: #1db87a;
    --primaria-escuro: #128557;
    --cinza-claro: #F5F5F5;
    --cinza-medio: #8A8A8A;
    --cinza-escuro: #464646;
    --success: #0CA925;
    --neutral: #002AC0;
    --warning: #f8ea25;
    --danger: #b60000;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html, 
body{
    position: relative;  
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--primaria-escuro);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primaria);
}

a {
    text-decoration: none !important;
    color: unset !important;
}

button {
    cursor: pointer;
    background: none;
}

button:disabled {
    cursor: default;
    opacity: 50%;
}

textarea {
    resize: none;
}

input{
    background: none;
}

ul {
    padding-left: 0 !important;
}

/* <===========================::Utilities===========================> */

.p-v-15 {
    padding: 15px 0;
}

.m-0{
    margin: 0 !important;
}

.mt-0{
    margin-top: 0;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mt-64{
    margin-top: 64px;
}

.ml-8{
    margin-left: 8px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-26{
    margin-bottom: 26px;
}

.mb-32{
    margin-bottom: 32px;
}

.gap-y{
    gap: 0 46px;
}

.gap-y-4{
    gap: 0 4px;
}

.gap-y-8{
    gap: 0 8px;
}


.gap-y-16{
    gap: 0 16px;
}

.gap-x{
    gap: 56px 0;
}

.gap-x-4{
    gap: 4px 0;
}

.gap-x-8{
    gap: 8px 0;
}

.gap-x-16{
    gap: 16px 0;
}

.gap{
    gap: 56px 46px;
}

.gap-16{
    gap: 16px 16px;
}

.d-none{
    display: none;
}

.overflow-x{
    overflow-x: auto;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
}

.row-container.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.column-container.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.align-center {
    align-items: center;
}

.align-flex-end {
    align-items: flex-end;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-flex-end {
    justify-content: flex-end;
}

.stretch {
    flex: 1;
}

.upperC {
    text-transform: uppercase;
}

.lg-width{
    max-width: 960px;
}

.md-width{
    max-width: 620px;
}

.d-width{
    max-width: 440px;
}

.sm-width{
    max-width: 300px;
}

.xsm-width{
    max-width: 200px;
}

.content-width{
    max-width: fit-content;
}

.full-width{
    min-width: 100%;
}

.z-index-100{
    position: absolute;
    z-index: 100;
}

/* <===========================::Defaults::===========================> */

.simple-link{
    color: blueviolet;
    font-weight: 400;
}

.simple-link:hover{
    opacity: .5;
}

hr{
    background-color: rgb(223, 223, 223);
    height: 2px;
    margin-bottom: 10px;
}

/* <===========================::Warnings and Errors::===========================> */

.default-error{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--vermelho-claro);
    color: var(--vermelho-escuro);
    border: var(--vermelho-escuro) solid 1px;
    border-radius: 4px;
    padding: 15px;
    width: fit-content;
    overflow: hidden;
    transition: .4s;
    animation-name: error-card-animation;
    animation-duration: .4s;
}

@keyframes error-card-animation {
    from {
        border: var(--amarelo) solid 1px;
        background: yellowgreen;
    }
    to {
        border: var(--vermelho-escuro) solid 1px;
    }
}

.error-text-message {
    text-align: center;
    font-size: 1.225em;
    font-weight: 400;
    color: var(--cinza-medio);
    margin-top: 50px;
}

/* <===========================::Texts::===========================> */

.text-center {
    text-align: center;
}

h4.info{
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    color: var(--cinza-medio);
    margin: 10px 0;
}

span.info {
    font-size: 1em;
    font-weight: 400;
    color: var(--cinza-medio);
}

.default-text{
    color: var(--cinza-medio);
    font-size: 1em;
    font-weight: 400;
}

.default-text.primaria{
    color: var(--primaria-escuro);
}

.default-subtitle{
    color: var(--cinza-escuro);
    font-size: 1.5em;
    font-weight: 500;
}

.default-label{
    font-size: 1em;
    color: var(--cinza-escuro);
    margin-bottom: 2px;
}

.default-label.required::after,
.form-label.required::after,
.form-check-label.required::after {
    content: " *";
    color: red;
}

.default-label.bold{
    font-weight: bold;
}

.lg-currency-text{
    color: var(--primaria-escuro);
    font-size: 3em;
    font-weight: 500;
}

.info-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.info-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.info-row h4,
.info-column h4{
    color: var(--cinza-escuro);
    font-size: 1em;
    font-weight: 500;
    margin-right: 5px;
}

.info-row p,
.info-column p{
    color: var(--cinza-escuro);
    font-size: 1em;
    margin-right: 5px;
}

/* <===========================::Header::===========================> */

.default-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 15px 0;
}

.default-header h3.title{
    font-weight: 400;
}

.header-tramites {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 16px;
}

.header-tramites button {
    height: 30px;
    background-color: #002AC0;
}

/* <===========================::Footer::===========================> */

.default-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 15px 0;
}

/* <===========================::Containers::===========================> */

.default-container{
    padding: 30px;
    border-radius: 6px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 10px 0;
}

.default-container.no-shadow {
    box-shadow: none;
}

.default-container p {
    color: var(--cinza-medio);
}

/* <===========================::Inputs::===========================> */

.default-input-container{
    display: flex;
    gap: 16px;
}

.default-input{
    font-size: .875em;
    font-weight: 400;
    color: var(--cinza-escuro);
    height: 40px;
    background: white;
    border: 1px solid var(--cinza-medio);
    width: 100%;
    max-width: 450px;
    padding: 10px 15px;
    border-radius: 4px;
}

.default-textarea{
    font-size: 1em;
    font-weight: 400;
    color: var(--cinza-escuro);
    border: 1px solid var(--cinza-medio);
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
}

.default-input:disabled,
.default-textarea:disabled {
    background-color: var(--cinza-claro);
    border: none;
}

.default-input::placeholder,
.default-textarea::placeholder{
    color: var(--cinza-medio);
}

.default-input:focus,
.default-textarea:focus{
    border: 1px solid var(--primaria-escuro);
}

.data-especial-input::-webkit-outer-spin-button,
.data-especial-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* <===========================::Buttons::===========================> */

.default-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: .875em;
    font-weight: 400;
    height: 40px;
    min-width: 150px;
    width: fit-content;
    padding: 10px 35px;
    position: relative;
    transition: .2s ease-out;
    border-radius: 4px;
}

.default-button.filled{
    color: black;
    font-weight: 500;
    background: var(--primaria);
    border: none;
}

.default-button.filled:hover{
    opacity: .8;
}

.default-button.filled:disabled:hover{
    opacity: .5;
}

.default-button.outline{
    color: black;
    border: 1px solid var(--cinza-medio);
}

.default-button.outline:hover{
    opacity: .6;
}

.default-button.outline:disabled:hover{
    opacity: .5;
}

.icon-button {
    height: fit-content;
    padding: 0 5px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.icon-button:hover {
    background-color: var(--primaria-claro);
    opacity: .6;
}

/* <===========================::Default Table::===========================> */

.default-table{
    background: white;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 2px solid var(--primaria-escuro);
    width: 100%;
}

.default-tableRow{
    height: 40px;
    font-size: .875em;
}

.default-tableRow.selected{
    background: var(--primaria-claro);
}

.default-tableRow:nth-child(even){
    background: var(--cinza-claro);
}

.default-tableRow.selected:nth-child(even){
    background: var(--primaria-medio);
}

.default-tableRow:hover{
    background: rgb(236, 236, 236);
}

.default-tableRow.selected:hover{
    background: rgb(255, 220, 180);
}

.default-tableRow th:first-child,
.default-tableRow td:first-child{
    padding-left: 35px;
}

.default-tableRow th,
.default-tableRow td{
    text-align: left;
    border: none;
}

.default-tableRow th{
    background: white;
}

.table tbody tr:hover {
    background-color: rgb(250, 250, 250);
}


/* <===========================::Side Menu::===========================> */

.side-menu {
    display: flex;
    flex-direction: column;
    background: white;
    width: 240px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 5px 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    z-index: 100;
}

.side-menu__header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 15px;
    background-color: var(--primaria);
}

.side-menu__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 15px;
}

.side-menu__info h4 {
    font-size: 1em;
    color: black;
}

.side-menu__info p {
    font-size: .75em;
    color: var(--cinza-escuro);
}

.side-menu__body {
    padding: 0;
    overflow: auto;
}

.side-menu__list {
    list-style: none;
    width: 100%;
}

.side-menu__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    border-right: 2px solid var(--cinza-claro);
    border-bottom: 1px solid var(--cinza-claro);
    cursor: pointer;
    transition: .1s ease-out;
}

.side-menu__item .mdi {
    margin-right: 8px;
}

.side-menu__item:hover {
    border-right: 2px solid var(--primaria-escuro);
}

.side-menu__item .side-menu__list {
    overflow: hidden;
    transition: height .5s;
}

.side-menu__item.active a {
    color: var(--primaria-escuro);
}

.side-menu__item a:hover {   
    background-color: var(--cinza-claro);
}

.side-menu__item a,
.side-menu__subitem a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: var(--cinza-escuro);
    width: 100%;
    height: 50px;
    padding: 12px 0 12px 20px;
    transition: .1s ease-out;
    user-select: none;
}

.side-menu__item a,
.side-menu__subitem a {
    font-size: .875em;
}

.side-menu__subitem a {
    background-color: white;
}

.side-menu__subitem a:hover {
    color: var(--primaria-escuro);
    background-color: white;
}

.side-menu__subitem {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 50px;
    width: 100%;
}


.side-menu footer{
    color: var(--cinza-medio);
    font-weight: 300;
    text-align: center;
    width: 100%;
    background: var(--cinza-claro);
    padding: 15px 25px;
    position: absolute;
    bottom: 0;
}

/* <===========================::Navbar::===========================> */

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler {
    border: none !important;
    font-size: 2rem !important;
}

/* <===========================::Main page::===========================> */

.main-page{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    height: 100%;
    padding: 25px;
    overflow: auto;
}

header {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    height: 100px;
    width: 100%;
    gap: 25px;
}

header h2.title{
    font-size: 1.8em;
    font-weight: 400;
    margin: 0;
}

.main-page-subtitle{
    color: var(--primaria-escuro);
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 32px;
}

/* <===========================::Pop up::===========================> */

.popup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    padding: 50px;
    background-color: rgb(247, 247, 247);
    border-bottom: 2px solid var(--primaria-escuro);
    color: black;
    position: absolute;
    bottom: 25px;
    left: 25px;
    transition: .4s;
    z-index: 10000;
}

.popup-animation-enter {
    animation-name: popup-animation;
    animation-duration: .4s;
}

.popup-animation-leave {
    animation-name: popup-animation-leave;
    animation-duration: .4s;
}

@keyframes popup-animation {
    from {
        opacity: 0;
        transform: translateY(60px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes popup-animation-leave {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(60px);
    }
}

@media only screen and (max-width: 600px) {
    .default-button {
        width: 100%;
    }
}